.flexContainer {
  /* display: flex; */
  background-color: #f4f4f4;
}

.flexContainer::after {
  content: '';
  clear: both;
  display: block;
}

.item {
  width: 100px;
  height: 100px;
  background: #254de4;
  color: #fff;
  margin: 10px;
  float: left;
}
