@value globalContainer from "Container.css";

.header {
  background-color: #0a51cc;
  color: #fff;
  min-height: 400px;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.2;
}

.header img {
  max-width: 400px;
}

.container {
  composes: globalContainer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    padding-top: 20px;
    text-align: center;
  }
}
